<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <span>
        <%= link_to "マイページ", mypage_users_path %> > 会員情報の編集
      </span>

      <h1 class="mt-3 mb-3">会員情報の編集</h1>

      <hr>

      <%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
      
        
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :nickname, "氏名", class: "text-md-left samazon-edit-user-info-label" %>
            <span onclick="switchEditUserInfo('.userName', '.editUserName', '.userNameEditLabel');" class="mypage_btn_pointer userNameEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userName">
            <h1 class="samazon-edit-user-info-value"><%= @user.nickname %></h1>
          </div>
          <div class="collapse editUserName">
            <%=
              f.text_field :nickname,
              class: "form-control #{"is-invalid" if @user.errors.messages[:nickname].present? } ",
              value: @user.nickname,
              autofocus: "true",
              required: "",
              autocomplete: "name",
              placeholder: "名前を入力"
            %>

            <%= f.submit "保存", class: "btn samazon-submit-button mt-3 w-25" %>

            <% if @user.errors.messages[:nickname].present? %>
            <span class="invalid-feedback" role="alert">
              <strong>氏名を入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :game_id, "ゲーム番号", class: "text-md-left samazon-edit-user-info-label" %>
            <span onclick="switchEditUserInfo('.userMail', '.editUserMail', '.userMailEditLabel');" class="mypage_btn_pointer userMailEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userMail">
            <h1 class="samazon-edit-user-info-value"><%= @user.game_id %></h1>
          </div>
          <div class="collapse editUserMail">
            <%=
              f.text_field :game_id,
              class: "form-control #{"is-invalid" if @user.errors.messages[:game_id].present? }",
              autofocus: "true",
              required: "",
              value: @user.game_id,
              autocomplete: "game_id",
              placeholder: "ゲーム番号を入力"
            %>

            <%= f.submit "保存", class: "btn samazon-submit-button mt-3 w-25" %>

            <% if @user.errors.messages[:game_id].present? %>
            <span class="invalid-feedback" role="alert">
              <strong>ゲーム番号を入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>


      <hr>

      <% end %>
    </div>
  </div>
  <%= link_to "Mypageに戻る", mypage_users_path %>
</div>

<script type="text/javascript">
    let switchEditUserInfo = (textClass, inputClass, labelClass) => {
        if ($(textClass).css('display') == 'block') {
            $(labelClass).text("キャンセル");
            $(textClass).collapse('hide');
            $(inputClass).collapse('show');
        } else {
            $(labelClass).text("編集");
            $(textClass).collapse('show');
            $(inputClass).collapse('hide');
        }
    }
</script>

