
<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, elements: @elements } %>
  </div>
  <div class="col-9">
    
    <div class="container">
      <%= link_to "+ New", new_item_path %>
    
      <% if @category.present? %>
        <%= link_to "トップ", root_path %> > <%= @category.name %>
        <h1><%= @category.name %>の商品一覧<%= @items.count %>件</h1>
          <%= form_with url: items_path, method: :get, local: true, class: "form-inline" do |f| %>
            <%= f.hidden_field :sort_category, value: @category.id %>
            並び替え
            <% if @sorted.present? %>
              <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
            <% else %>
              <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="container mt-4">
      <div class="row w-100">

        <% @items.each do |item| %>
          <div class="card m-2" style = "width: 13rem;">
            <%= link_to item_path(item) do %>
              <div class = "card-body">
                <p class="card-title">
                  ★<%= item.rarity %>
                </p>
                <%= link_to 'Destroy', item, method: :delete%>
                <%= image_tag "/images/goods.png", class: "img-thumbnail"%>
                
                <p class="card-text mt-2">No.<%= item.no %></p>
                <p class="card-text"><%= item.name %></p>
              </div>
              
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
             
  
</div>