<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, elements: @elements } %>
  </div>
  <div class="col-9">
    
    <div class="container">
    
      <% if @category.present? %>
        <%= link_to "トップ", root_path %> > <%= @category.name %>
        <h1><%= @category.name %>の商品一覧<%= @items.count %>件</h1>
        <%= form_with url: items_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @category.id %>
          並び替え
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class: "form-inline ml-2 form-control" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2 form-control" %>
          <% end %>
        <% end %>
        
      <% elsif @element.present? %>
        <%= link_to "トップ", root_path %> > <%= @element.name %>
        <h1><%= @element.name %>の商品一覧<%= @items.count %>件</h1>
        <%= form_with url: items_path, method: :get, local: true, class: "form-inline" do |f| %>
          <%= f.hidden_field :sort_category, value: @element.id %>
          並び替え
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
          <% end %>
        <% end %>
      <% else %>
      <h1>装備品一覧</h1>
      <% end %>
    </div>

    <div class="container mt-4">
      <div class="row w-100">

        <% @items.each do |item| %>
          <div class="card m-2 shadow-sm bg-white rounded" style = "width: 10rem;">
            <%= link_to item_path(item) do %>
              <div class = "card-body">
                <p class="card-title" style = "margin-top: -10px;">
                  ★<%= item.rarity %>
                </p>
                
                <% if item.image.present? %>
                  <%= image_tag item.image.to_s, class: "img-thumbnail item_index_image" %>
                <% else %>
                  <%= image_tag "/images/goods.png", class: "img-thumbnail"%>
                <% end %>
                
                <p class="card-text mt-2">No.<%= item.no %></p>
                <p class="card-text"><%= item.name %></p>
              </div>
              
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>