<h1>Items#show</h1>
<%= @item.rarity %>
<%= @item.image %>
<%= @item.no %>
<%= @item.name %>
<%= @item.weight %>
<%= @item.max_lvl %>
<%= @item.max_hp %>
<%= @item.max_spd %>
<%= @item.max_critical %>
<%= @item.max_bullet %>
<%= @item.fire_spd %>
<%= @item.num_trajectories %>
<%= @item.install_limit %>
<%= @item.closeness %>
<%= @item.skl_one %>
<%= @item.skl_one_element %>
<%= @item.skl_one_detail %>
<%= @item.skl_two %>
<%= @item.skl_two_element %>
<%= @item.skl_two_detail %>
<%= @item.skl_three %>
<%= @item.skl_three_detail %>
<%= @item.before_evl %>
<%= @item.after_evl %>
<%= @item.kakusei %>
<%= @item.shop %>
<%= @item.gacha %>

<%= link_to "Back", items_path %>