<div class = "container">
  <div class = "row">
    <div class = "row d-flex justify-content-between">
      <h5><%= link_to "Home ", items_path %> > <%= @item.name %></h5>
      
      <h5>
        <% if current_user.already_liked?(@item) %>
          <%= link_to item_likes_path(@item), method: :delete, class: "btn samazon-favorite-button text-favorite w-100" do %>
            <i class="fa fa-heart"></i><span><%= @item.likes.count %></span>
          <% end %>
        <% else %>
          <%= link_to item_likes_path(@item), method: :post, class: "btn samazon-favorite-button text-favorite w-100" do %>
            <i class="fa fa-heart"></i><span><%= @item.likes.count %></span>
          <% end %>
        <% end %>
      </h5>
      
    </div>
    <div class = "container row mx-auto mb-3">
      <div class="col-1">
        <%= link_to "←", items_path %>
      </div>
      
      <div class="col-2">
        <h3>No.<%= @item.no %></h3>
      </div>
      
      <div class = "col-1">
        <% if @item_element.present? %>
          <% @item_element.each do |item_element| %>
            <h3><%= item_element.element.name %></h3>
          <% end %>
        <% else %>
          <h3>-</h3>
        <% end %>
      </div>
            
      
      <div class = "col-4">
        <h3><%= @item.name %></h3>
      </div>
      
      <div class = "col-4">
        <h3 class = "score-color"><%= rearity_star(@item.rarity) %></h3>
      </div>
      
    </div>
    
    <div class = "row mx-auto">
      <div class = "col-5">
        <% if @item.image.present? %>
          <%= image_tag @item.image.to_s, class: "img-thumbnail" %>
        <% else %>
          <%= image_tag "/images/goods.png", class: "img-thumbnail"%>
        <% end %>
      </div>
      
      <div class = "col-7">
        <div class = " border rounded mb-3">
          <div class = "container row">
            <div class = "col-6">
              MajorCategory・Category
            </div>
            <div class = "col-6">
              重量<%= @item.weight %>
            </div>
          </div>
          
          <div class = "container row">
            <div class = "col-6">
              Lv.<%= @item.max_lvl %> / <%= @item.max_lvl %>
            </div>
            <div class = "col-6">
              親密度<%= @item.weight %> / <%= @item.weight %>
            </div>
          </div>
          
          <hr class = "weapon-hr">
          
          <div class = "container row">
            <div class = "col-6">
              攻撃力<%= @item.max_atck %>
            </div>
            <div class = "col-6">
              攻速<%= @item.max_spd %> / s
            </div>
          </div>
        
          <div class = "container row">
            <div class = "col-6">
              残弾数<%= @item.max_bullet %>
            </div>
          </div>
          
        </div>
        
        <div >
          <% @skills.each do |skills| %>
            <div class = "border-bottom">
              <h5 class = "skl_name"><%= skills.skill.skl_name %></h5>
            </div>
            <p><%= skills.skill.skl_detail %></p>
          <% end %>
          
          
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class = "row">
    <h3 class = "col-6">Review</h3>
    
    
  </div>
  
  <% if user_signed_in? %>
    <%= form_with model: @review, url: item_reviews_path(@item), class: "d-flex justify-content-end mt-3" do |f| %>
      <div class="btn mx-auto btn btn-danger mb-3" data-toggle="modal" data-target="#buy-confirm-modal">レビューを追加</div>
        <div class="modal fade" id="buy-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">レビュー内容</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class = "modal-body text-center">
                <h4>評価</h4>
                <%= f.select :score, @star_repeat_select, {}, class: "form-control m-2 score-color" %>
                <h4>レビュー内容</h4>
                <%= f.text_area :content, class: "form-control m-2",  required: "", rows: "5" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn border-dark text-dark" data-dismiss="modal">閉じる</button>
                <%= f.submit "レビューを書く", class:"btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
  
  <% @reviews.each do |review| %>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class = "row">
            <h5><%= review.user.nickname %></h5>
            <h3 class = "score-color"><%= score_on_star(review.score) %></h3>
            <label><%= l review.created_at %></label>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= review.content %></p>
        </div>
      </div>
    </div>
  <% end %>

  
</div>








  
