<!--<====================================================検索=====>-->
<div class="btn btn-primary" data-toggle="modal" data-target="#buy-confirm-modal-">検索</div>
<div class="modal fade" id="buy-confirm-modal-" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5>検索</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class = "modal-body">
        
        
        <form class="form-inline">
          <%= form_with url: items_path, method: :get, local: true do |f| %>
            <div class="d-flex flex-inline form-group">
              <%= f.text_field :keyword, class: "form-control" %>
            </div>
            <%= f.submit "検索", class: "btn btn-primary" %>
          <% end %>
        </form>
      </div>
        
      <div class="modal-footer">
        <div>
          <%= @keyword %> 
        </div>
      </div>
        
        
      </div>
    </div>
  </div>
</div>

<!--<!=============================================>-->

<div class="btn btn-primary" data-toggle="modal" data-target="#category-modal">選択</div>
<div class="modal fade" id="category-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5>選択</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class = "modal-body d-flex justify-content-start">
      
      <%= form_with url: items_path, local: true, method: "get" do |f| %>
      
        <div class="form-group">
          <table><tr><td>属性</td><td width="96%"><hr color="lightgrey" size="0.5"></td></tr></table>
          <%= f.collection_check_boxes :element_ids, Element.all, :id, :name do |b| %>
            <%= b.label(class: "form-check-label m-3") do %>
              
              <%= b.check_box(class: "form-check-input") %>
              <div class="btn btn-secondary" >
                <%= b.text %>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <div class="form-group">
          <table><tr><td>カテゴリー</td><td width="90%"><hr color="lightgrey" size="0.5"></td></tr></table>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |a| %>
            <%= a.label(class: "form-check-label m-3") do %>
              <%= a.check_box(class: "form-check-input") %>
              <div class="btn btn-secondary" >
                <%= a.text %>
              </div>
            <% end %>
          <% end %>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <%= f.submit "検索", class: "btn"%>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!--=================================================-->